In [1]:
import pandas as pd
df = pd.read_csv("carprice.csv")
df

    Mileage  Age  Price
0     69000    6  18000
1     35000    3  34000
2     57000    5  26100
3     22500    2  40000
4     46000    4  31500
5     59000    5  26750
6     52000    5  32000
7     72000    6  19300
8     91000    8  12000
9     67000    6  22000
10    83000    7  18700
11    79000    7  19500
12    59000    5  26000
13    58780    4  27500
14    82450    7  19400
15    25400    3  35000
16    28000    2  35500
17    69000    5  19700
18    87600    8  12800
19    52000    5  28200

In [2]:
X = df[['Mileage','Age']]
y = df['Price']

In [3]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()

In [12]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(clf,X,y,cv=3)
scores

array([0.82054878, 0.87887133, 0.90467673])

In [13]:
print(scores.mean())

0.868032281158753