In [1]:
#To install the pandas in jupytor notebook
!pip install pandas

Requirement already satisfied: pandas in c:\users\priteshkumarbhimani\anaconda3\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\priteshkumarbhimani\anaconda3\lib\site-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\priteshkumarbhimani\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\priteshkumarbhimani\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\priteshkumarbhimani\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)

In [4]:
#import pandas
import pandas as pd

In [9]:
#to read data from different files.
#read csv --- pd.read_csv("")
jsonf = pd.read_json("Jay.json")

#.tail(): it is giving me the record from the last 
#last 10 record .tail(10)
#first 5 rows : .head()

#jsonf

#jsonf.head(10)
jsonf.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [13]:
#to add new row in dataset(append)
new_row = {'Duration': 55, 'Pulse': 121, 'Maxpulse': 151, 'Calories': 423}


jsonf = jsonf.append(new_row, ignore_index=True)
jsonf.tail()

# what are thte other ways to add rows aprt from append()
# if I want to add multiple row at a time how can I do?

<ipython-input-13-915f77e046ab>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  jsonf = jsonf.append(new_row)

TypeError: Can only append a dict if ignore_index=True

In [14]:
#to check data type of each column

jsonf.dtypes

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [15]:
#to find all the description about the dataset
#If the DataFrame contains numerical data, the description contains these information for each column:
#std - The standard deviation.
#min - the minimum value.
#25% - The 25% percentile*.
#50% - The 50% percentile*.
#75% - The 75% percentile*.
#max - the maximum value.
#count - The number of not-empty values.
#mean - The average (mean) value.

jsonf.describe()

         Duration       Pulse    Maxpulse     Calories
count  171.000000  171.000000  171.000000   166.000000
mean    63.742690  107.619883  134.245614   376.368675
std     42.061207   14.498335   16.455231   264.808184
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   251.575000
50%     60.000000  105.000000  131.000000   319.800000
75%     60.000000  111.000000  143.000000   389.400000
max    300.000000  159.000000  184.000000  1860.400000

In [16]:
#give the information of the data 
jsonf.info

<bound method DataFrame.info of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4
169        55    121       151     423.0
170        55    121       151     423.0

[171 rows x 4 columns]>

In [17]:
# if you want to save you data in other file
#save data in csv file: .to_csv()
jsonf.to_json("Jay3.json")

#jsonf1=pd.read_json("Jay2.json")
#jsonf1

In [20]:
#dictionary data to dataframe using DataFrame() method 
#We can give the name of the rows using index
import pandas as pd

d={'Mouse':[150,200,300,400],
   'Keyboard':[180,200,190,300],
   'Scanner':[200,280,330,450]}

df=pd.DataFrame(d,index=['Jan','Feb','March','April'])

df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [21]:
#access the data using loc, iloc, at , iat
# want data from, Jan and April month and data only for Mouse coloumn
#df.loc[:,:]
df.loc[['Jan','April'],'Mouse']

Jan      150
April    400
Name: Mouse, dtype: int64

In [25]:
#access data for all the rows but any two column

df.loc[:,['Mouse','Scanner']]

# march, all column
#df.loc['March',:]

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [27]:
#A.	Write code to access data of Mouse and Scanner columns.

#print(df['Mouse'])
#print(df['Scanner'])

df[['Mouse','Scanner']]
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [28]:
#B.	Write code to access data of the Keyboard column using dot notation and column name.

df.Keyboard
#df.Mouse

Jan      180
Feb      200
March    190
April    300
Name: Keyboard, dtype: int64

In [29]:
#Access data for Jan Row
df.loc[['Jan'],:]

     Mouse  Keyboard  Scanner
Jan    150       180      200

In [32]:
#C.	Write code to access data of scanners using loc[].

df.loc[:,['Scanner']]
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [35]:
#To select a particular number of rows and columns, you can do the following using .iloc.
#df.iloc[[0,2],[0,2]]
df.iloc[[0,1,2],[0,1,2]]

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330

In [36]:
#To select a single value from the DataFrame, you can do the following.
#df.loc['Jan','Mouse']

df.iloc[0,0]

150

In [37]:
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [40]:
#D.	Write code to access data of all columns where mouse data is more than 200.
df[df['Mouse']>200][]
#df[df['Keyboard']>180][['Mouse','Keyboard','Scanner']]

# all the columns with scanner values >=350
#df[df['Scanner']>=350][['Mouse','Keyboard','Scanner']]

#df['Scanner']>=330
#df[df['Scanner']>=330][['Mouse','Scanner']]

ValueError: Boolean array expected for the condition, not int64

In [41]:
#E.	Write code to access columns using 0 and 2.

df.iloc[:,[0,2]]

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [43]:
#F.	Write code to access data of rows of jan and march for scanner and keyboard

df.loc[['Jan','March'],['Scanner','Keyboard']]
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [42]:
#Access a single value for a row/column pair by label.
df.at['Jan','Mouse']

150

In [45]:
#Access a single value for a row/column pair by integer position.
df.iat[0,0]
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [46]:
#Add column
df['Monitor']=[200,300,400,500]

In [47]:
df

       Mouse  Keyboard  Scanner  Monitor
Jan      150       180      200      200
Feb      200       200      280      300
March    300       190      330      400
April    400       300      450      500

In [48]:
#Add Row
# append()
d1 = {'Mouse': 200, 'Keyboard': 600, 'Scanner': 300}
df = df.append(d1, ignore_index = True)
df

<ipython-input-48-07226126cc3c>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(d1, ignore_index = True)

   Mouse  Keyboard  Scanner  Monitor
0    150       180      200    200.0
1    200       200      280    300.0
2    300       190      330    400.0
3    400       300      450    500.0
4    200       600      300      NaN

In [58]:
data=pd.read_excel("corona.xlsx")

In [59]:
data.head(10)

        date  cases  active cases  deaths
0 2020-02-15   16.0          13.0    -1.0
1 2020-02-16   16.0          13.0     0.0
2 2020-02-17    NaN           9.0     0.0
3 2020-02-18   16.0           7.0     0.0
4 2020-02-19   16.0           7.0     NaN
5 2020-02-20   16.0           3.0     0.0
6 2020-02-21   16.0           2.0     0.0
7 2020-02-22   16.0           2.0     0.0
8 2020-02-23   16.0           2.0     0.0
9 2020-02-24   16.0           2.0     0.0

In [61]:
data.dropna(axis=0, inplace=True)
data.head(10)

         date  cases  active cases  deaths
0  2020-02-15   16.0          13.0    -1.0
1  2020-02-16   16.0          13.0     0.0
3  2020-02-18   16.0           7.0     0.0
5  2020-02-20   16.0           3.0     0.0
6  2020-02-21   16.0           2.0     0.0
7  2020-02-22   16.0           2.0     0.0
8  2020-02-23   16.0           2.0     0.0
9  2020-02-24   16.0           2.0     0.0
10 2020-02-25   18.0           3.0     0.0
12 2020-02-27   48.0          32.0     0.0

In [62]:
data.dtypes

date            datetime64[ns]
cases                  float64
active cases           float64
deaths                 float64
dtype: object

In [63]:
data["cases"]=data["cases"].astype('int64')

In [64]:
data.dtypes

date            datetime64[ns]
cases                    int64
active cases           float64
deaths                 float64
dtype: object

In [65]:
data.info
#The info() method prints information about the DataFrame.
#The information contains the number of columns, column labels, column data types, memory usage, range index,
#and the number of cells in each column (non-null values).

<bound method DataFrame.info of          date   cases  active cases  deaths
0  2020-02-15      16          13.0    -1.0
1  2020-02-16      16          13.0     0.0
3  2020-02-18      16           7.0     0.0
5  2020-02-20      16           3.0     0.0
6  2020-02-21      16           2.0     0.0
7  2020-02-22      16           2.0     0.0
8  2020-02-23      16           2.0     0.0
9  2020-02-24      16           2.0     0.0
10 2020-02-25      18           3.0     0.0
12 2020-02-27      48          32.0     0.0
13 2020-02-28      74          58.0     0.0
14 2020-02-29      79          63.0     0.0
15 2020-03-01     130         114.0     0.0
16 2020-03-02     165         149.0     0.0
17 2020-03-03     203         187.0     0.0
18 2020-03-04     262         246.0     0.0
21 2020-03-07     800         782.0     0.0
22 2020-03-08    1040        1022.0     0.0
23 2020-03-09    1224        1204.0     2.0
24 2020-03-10    1565        1545.0     2.0
25 2020-03-11    1966        1938.0     3.0
26 2020-03-12    2745        2714.0     6.0
27 2020-03-13    3675        3621.0     8.0
28 2020-03-14    4599        4544.0     8.0
29 2020-03-15    5813        5754.0    13.0
30 2020-03-16    7272        7188.0    17.0
31 2020-03-17    9367        9274.0    26.0
32 2020-03-18   12327       12194.0    28.0
33 2020-03-19   15320       15161.0    44.0
34 2020-03-20   19848       19668.0    59.0
35 2020-03-21   22364       22071.0    84.0
36 2020-03-22   24873       24513.0    94.0
37 2020-03-23   29056       28480.0   123.0
38 2020-03-24   32986       29586.0   157.0
39 2020-03-25   37323       33570.0   206.0
40 2020-03-26   43938       37998.0   267.0
41 2020-03-27   50871       43862.0   351.0
42 2020-03-28   57695       48781.0   433.0
43 2020-03-29   62095       52359.0   525.0
44 2020-03-30   66711       52566.0   645.0
45 2020-03-31   70985       54479.0   682.0
46 2020-04-01   77981       58350.0   931.0
47 2020-04-02   84794       61247.0  1107.0
48 2020-04-03   91159       65309.0  1275.0
49 2020-04-04   96108       68262.0  1446.0
50 2020-04-05  100123       69839.0  1584.0
51 2020-04-06  103375       72865.0  1819.0
52 2020-04-07  107663       69566.0  2016.0
53 2020-04-08  113296       64647.0  2349.0
54 2020-04-09  118235       63221.0  2607.0
55 2020-04-10  122171       65522.0  2736.0
56 2020-04-11  125452       65181.0  2871.0
57 2020-04-12  127854       64532.0  3022.0
58 2020-04-13  130072       62578.0  3194.0
59 2020-04-14  132210       60515.0  3495.0
60 2020-04-15  134753       58349.0  3804.0
61 2020-04-16  137698       56646.0  4052.0
62 2020-04-17  141397       53931.0  4352.0
63 2020-04-18  143724       53786.0  4538.0>

In [ ]:
data.to_excel("HouseD.xlsx")
to_json()
to_csv()

In [ ]:
import numpy as np
bins=np.linspace(min(data["cases"]),max(data["cases"]),4)
bins

In [ ]:
#if you want to append data in existing csv file
data2.to_csv("HouseCourse7.csv", mode='a')

In [ ]:
label=["low","medium","high"]
data["bincases"]=pd.cut(data["cases"],bins,labels=label,include_lowest=True)

In [ ]:
data["bincases"]